
<%
if(dangxem <= 1){
  truoc = 1;
}else{
  truoc = dangxem- 1;
}
 var sau = parseInt(dangxem) + 1;
%>
<!DOCTYPE html>
<html>
  <head>
    <base href="http://localhost:4499/"/>
    <meta charset="utf-8">
    <title> hot girls</title>
    <link rel="stylesheet" type="text/css" href="layout.css"/>
    <script src="jquery-3.2.1.min.js"> </script>
    <script>
     $(document).ready(function(){
       $("#like").click(function(){
         var id = $(this).attr("hinh");
         $.get("http://localhost:4499/Like/" + id ,function(data) {
           alert(data);
         });
        });

        $("#unlike").click(function(){
          var id = $(this).attr("hinh");
          $.get("http://localhost:4499/DisLike/" + id ,function(data) {
            alert(data);
          });
        });
        
     });
    </script>
  </head>
  <body>
    <div id="hotgril">
      <a id="truoc" href="/hotgirls/<%= truoc %>"> TRUOC</a>
      <a id="sau" href="/hotgirls/<%= sau %>"> SAU</a>
      <div class="block"></div>
      <hr>
      <img id="hinh12" src="hotgirls/<%= hinh %>" />
      <div class="block"></div>
      <hr>
      <img id="like" hinh="<%= dangxem %>" src="hotgirls/like.png" />
      <img id="unlike" hinh="<%= dangxem %>" src="hotgirls/unlike.png" />
    </div>
  </body>
</html>
